@page "/geolocation"
@inject IJSRuntime JS

<PageTitle>Geolocation</PageTitle>

<h1>Current Position</h1>

<p role="status">
    <span class="font-weight-bold">Position</span> 

    <span>
        @if (position.latitude + position.longitude != 0)
        {
            <span>Lat: @position.latitude °, Lon: @position.longitude °</span>
        }
    </span>
    
</p>

<button class="btn btn-primary" @onclick="GetGeoLocation">Update Current Location</button>

@code {
    (int latitude, int longitude) position = (0, 0);

    private IJSObjectReference? jsModule;

    private async Task GetGeoLocation()
    {
        if (!File.Exists("./Data/geolocation.js"))
        {
            Console.WriteLine("File Not Found");
        }

        try
        {
            // https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/?view=aspnetcore-7.0
            jsModule = await JS.InvokeAsync<IJSObjectReference>("getLocation", "./Data/geolocation.js");
        }
        catch (Exception ex)
        {
            // Error: Could not find 'getLocation' ('getLocation' was undefined).
            // Not sure how to move on from this. The file is in the correct place.
            Console.WriteLine($"Error loading JavaScript module: {ex.Message}");
        }

    }
}
